body {
margin: 0px;
}

p {
padding: 2px;
}

/*Desktop*/
    header {
      height: 120px;
      width: 100%;
      background-color: #439532;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 600px;
    }

    nav {
      height: 100%;
      width: 10%;
      background-color: #D5F09C;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    main {
      height: 100%;
      width: 75%;
      background-color: #99D88C;
    }

    aside {
      height: 100%;
      width: 15%;
      background-color: #85A738;

    }

    footer {
      height: 80px;
      width: 100%;
      background-color: #FCFEA5;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
/*Desktop*/

@media only screen
and (max-device-width : 568px)
and (orientation : portrait) {

  header {
    height: 75px;
    width: 100%;
    background-color: #439532;

  }

  .container {
    display: flex;
    flex-direction: column;
    height: 418px;
    width: 100%;
  }

  nav {
    height: 50px;
    width: 100%;
    background-color: #D5F09C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  main {
    height: 368px;
    width: 100%;
    background-color: #99D88C;
  }

  aside {
    display: none;
    height: 0px;
    length: 0px;

  }

  footer {
    height: 75px;
    width: 100%;
    background-color: #FCFEA5;
  }
}
