body {
margin: 0px;
}

p {
padding: 2px;
}

/*Desktop*/
    header {
      height: 120px;
      width: 100%;
      background-color: #44528D;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 600px;
    }

    nav {
      height: 100%;
      width: 10%;
      background-color: #606DA1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    main {
      height: 100%;
      width: 75%;
      background-color: #7F8AB5;
    }

    .gallery {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
    }

    aside {
      height: 100%;
      width: 15%;
      background-color: #7892AF;

    }

    footer {
      height: 80px;
      width: 100%;
      background-color: #6F9EA7;
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
/*Desktop*/

@media only screen
and (max-device-width : 568px)
and (orientation : portrait) {

  header {
    height: 75px;
    width: 100%;
    background-color: #44528D;

  }

  .container {
    display: flex;
    flex-direction: column;
    height: 418px;
    width: 100%;
  }

  nav {
    height: 50px;
    width: 100%;
    background-color: #606DA1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  main {
    height: 368px;
    width: 100%;
    background-color: #7F8AB5;
  }

  aside {
    display: none;
    height: 0px;
    length: 0px;

  }

  footer {
    height: 75px;
    width: 100%;
    background-color: #6F9EA7;
  }
}
